#Django==1.7c2
https://www.djangoproject.com/download/1.7c2/tarball/
decorator>=3.4.0
django-localflavor>=1.0
django-widget-tweaks>=1.3
git+https://github.com/hhauer/django-ajax.git#egg=django-ajax
git+https://github.com/hhauer/django-brake.git#egg=django-brake