{% extends "base.html" %}

{% block title %}OAM - Down For Maintenance{% endblock %}


{% block body_content %}
<div class="containerTop grid">
	<div class="topBody grid center">
		<h6 class="topBodyHeaderBold">Odin Account Manager</h6><h6 class="topBodyHeaderLight"> is the easy-to-use tool for managing your PSU computer account</h6>
	</div>
</div>
<div class="containerMiddle grid flex col_12 column">
	<div class="middleBody grid">
			<div class="center">
                <h4>An error has occurred while trying to process your request.</h4>
                <h6>Please try again later or <a href="http://www.pdx.edu/oit/contact">contact us</a> for help.</h6>
			</div>

	</div>
</div>
{% endblock %}