{% extends "base.html" %}
{% load staticfiles %}

{% block title %}OAM Login{% endblock %}

{% block head_js %}{% endblock %}


{% block body_content %}
<div class="containerTop grid">
	<div class="topBody grid center">
		<h6 class="topBodyHeaderBold">Odin Account Manager</h6><h6 class="topBodyHeaderLight"> is the easy-to-use tool for managing your PSU computer account</h6>
	</div>
</div>
<div class="containerMiddle grid flex col_12 column">
	<div class="middleBody grid">
			<div class="col_6">
				<div class="homeLeft center">
					<h5>Log in to Your Odin Account</h5>
					
					<form action="{% url 'MyInfo:index' %}" method="post">
						{% csrf_token %}
						{{ form.non_field_errors }}
						
						{% if error %}
						<ul class="errorlist">
							<li class="first last">{{ error }}</li>
						</ul>
						{% endif %}
						
						{% for field in form %}
						{{ field.errors }}
						{{ field.label_tag }}
						{{ field }}<br>
						{% endfor %}

						<input class="loginButton" type="submit" value="Login">
					</form>
					<a class="forgotPassword" href="{% url 'PasswordReset:index' %}">Forgot your password?</a>
					<br>
					<a class="forgotPassword" href="{% url 'AccountPickup:index' %}">New? Activate Account</a>
				</div>
			</div>
			<div class="col_6">
				<div class="homeRight center">
					<h5 class="left">Log in or Activate Your Account!</h5>
					<p class="left" style="position:relative;top:8px;">If you've already activated your Odin account, enter your username and password to log in and manage your account.
					<br><br>If you still need to activate your Odin account, select the "Activate Account" link to be guided through the account activation process.</p><br>
				</div>
			</div>
	</div>
</div>
{% endblock %}
{% block footer %}<a class="footerRightText" href="{% url 'CASLogin' %}">Log in with PSU SSO</a>{% endblock %}





	

	
	
	
