{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MyInfo - Update Information - Set Password{% endblock %}

{% block head_js %}
	<script src="{% static "MyInfo/zxcvbn.js" %}"></script>
	<script src="{% static "lib/js/jquery.validate.js" %}"></script>
	
	<script type="text/javascript">
	$(function() {
		$("#passwordbar").progressbar({value: 0});
		$("#password-button").attr("disabled", "disabled");
	});
	</script>
	
	<script type="text/javascript">
	{% include "MyInfo/password_meter.js" %}
	</script>
{% endblock %}

{% block body_content %}
{% include 'fragments/user_info.html' %}


<div class="containerMiddle grid flex col_12 column">
	<div class="middleBody grid">
		<div class="col_6">
			<div class="homeLeft center">
				<h5 style="text-align:left;padding-left:10px;">Set Password</h5>
					<form id="passwordForm" action="{% url 'MyInfo:set_password' %}" method="post">
						{% csrf_token %}
						{{ form.non_field_errors }}
						
						{% if error %}
						<ul class="errorlist">
                            {% for e in error %}
							<li class="first last">{{ e }}</li>
                            {% endfor %}
						</ul>
						{% endif %}
						
						{% for field in form %}
						{{ field.label_tag }}
						{{ field }} {{ field.errors }}<br>
						{% endfor %}
						
						<input id="password-button" class="loginButton" type="submit" value="Continue">
					</form>
					{% if allow_cancel %}
						<a class="forgotPassword center" href="{% url 'MyInfo:pick_action' %}">Cancel</a>
					{% endif %}
				</div>
				</div>
				
		
				<div class="col_6">
				
					<div class="homeRight center" style="text-align:left">
				<h5 style="margin-bottom:15px;">Password Strength</h5>
					Passwords must meet the following requirements:
					<ul class="pStrength">
                        <li id="invalidsymbol" class="valid"><p>Must not contain the '@' symbol.</p></li>
						<li id="numbercount" class="invalid"><p>At least <strong>1</strong> number.</p></li>
                        <li id="charactercount" class="invalid"><p>At least <strong>1</strong> character.</p></li>
						<li id="totalcount" class="invalid"><p>Between <strong>8</strong> and <strong>30</strong> total characters.</p></li>
						<li id="password-same" class="invalid"><p>The passwords must match.</p></li>
					</ul>
                    Additionally the following criteria will be evaluated once your password is submitted:
                    <ul class="pStrength">
                        <li><p>Must not contain your name, username, or ID numbers.</p></li>
                        <li><p>Must not match one of your last <strong>10</strong> passwords.</p></li>
                    </ul>
					<h6>Your password strength is:</h6>
					<div id="passwordbar"><div class="password-ttc"> </div></div>
					</div>
				
		</div>
	</div>	
</div>	
{% endblock %}
{% block footer %}{% if allow_cancel %}<a href="/accounts/logout/">Logout</a>{% endif %}
{% endblock %}