{% extends "base.html" %}
{% load staticfiles %}

{% comment %}
	Available variables:
	identity -- The identity of the user.
	- DISPLAY_NAME
	- SPRIDEN_ID (id number)
	- PSU_PUBLISH (should see Directory Information page option)
	- EMAIL_ADDRESS
	
	form -- The form to render
	success -- A true/false success status on whether or not the password change worked.
	error -- An error message to display if the password change failed.
{% endcomment %}

{% block title %}MyInfo - Update Information - Set Password{% endblock %}

{% block head_js %}
	<script src="{% static "MyInfo/zxcvbn.js" %}"></script>
	<script src="{% static "lib/js/jquery.validate.js" %}"></script>
	
	<script type="text/javascript">
	$(function() {
		$("#passwordbar").progressbar({value: 0});
		$("#password-button").attr("disabled", "disabled");
	});
	</script>
	
	<script type="text/javascript">
	{% include "MyInfo/password_meter.js" %}
	</script>
{% endblock %}

{% block body_content %}
<div class="containerTop2 grid flex col_12 column">
	<div class="container grid">
	
		<div class="topLeftInfo center col_5">
		Hello, {{ identity.DISPLAY_NAME }}.
		</div>
		
		<div class="col_1"> </div>
		<div class="col_1"> </div>
		
		<div class="topRightInfo center col_5">
			<strong>Odin Username: </strong>{{ identity.ODIN_NAME }}<br>
			<strong>PSU Email: </strong>{{ identity.EMAIL_ADDRESS }}<br>
			<strong>ID Number: </strong>{{ identity.SPRIDEN_ID }}<br>
		</div>
			
	</div>
</div>

<div class="containerMiddle grid flex col_12 column">
	<div class="middleBody grid">
		<div class="col_6">
			<div class="homeLeft center">
				<h5 style="text-align:left;padding-left:10px;">Set Password</h5>
					<form id="passwordForm" action="{% url 'MyInfo:set_password' %}" method="post">
						{% csrf_token %}
						{{ form.non_field_errors }}
						
						{% if error %}
						<ul class="errorlist">
							<li class="first last">{{ error }}</li>
						</ul>
						{% endif %}
						
						{% for field in form %}
						{{ field.label_tag }}
						{{ field }} {{ field.errors }}<br>
						{% endfor %}
						
						<input id="password-button" class="loginButton" type="submit" value="Continue">
					</form>
					{% if allow_cancel %}
						<a class="forgotPassword center" href="{% url 'MyInfo:pick_action' %}">Cancel</a>
					{% endif %}
				</div>
				</div>
				
		
				<div class="col_6">
				
					<div class="homeRight center" style="text-align:left">
				<h5 style="margin-bottom:15px;">Password Strength</h5>
					Passwords must meet the following requirements:
					<ul class="pStrength">
						<li id="numbercount" class="invalid"><p>At least <strong>1</strong> number.</p></li>
						<li id="totalcount" class="invalid"><p>Between <strong>8</strong> and <strong>30</strong> total characters.</p></li>
						<li id="password-same" class="invalid"><p>The passwords must match.</p></li>
					</ul>
					<h6>Your password strength is:</h6>
					<div id="passwordbar"><div class="password-ttc"> </div></div>
					</div>
				
		</div>
	</div>	
</div>	
{% endblock %}
{% block footer %}{% if allow_cancel %}<a href="#">Logout</a>{% endif %}
{% endblock %}