{% load staticfiles %}
<meta charset="utf-8">

<script src="{% static "MyInfo/js/jquery-1.9.1.js" %}"></script>
<script src="{% static "MyInfo/js/jquery-ui-1.10.3.custom.js" %}"></script>
<script src="{% static "MyInfo/js/jquery.cookie.js" %}"></script>
<script src="{% static "MyInfo/js/ajax_forms.js" %}"></script>
<script src="{% static "MyInfo/js/kickstart.js" %}"></script>

<link href="{% static "MyInfo/css/normalize.css" %}" rel="stylesheet">
<link href="{% static "MyInfo/css/kickstart.css" %}" rel="stylesheet">
<link href="{% static "MyInfo/css/jquery-ui-1.10.3.custom.css" %}" rel="stylesheet">
<link href="{% static "MyInfo/css/myinfo.css" %}" rel="stylesheet">