{% extends "lib/base.html" %}
{% load staticfiles %}

{% block title %}MyInfo - Update Information - Set Password{% endblock %}

{% block head_js %}
	<script src="{% static "MyInfo/zxcvbn.js" %}"></script>
	<script src="{% static "lib/js/jquery.validate.js" %}"></script>
	
	<script type="text/javascript">
	$(function() {
		$("#passwordbar").progressbar({value: 0});
		$("#accordion").accordion({heightStyle: "content"});
		$("#password-button").attr("disabled", "disabled");
		
		$("#password-reset-optout").button({ icons: { primary: "ui-icon-alert"}}).click(function() {
			$.ajax({
				type: "POST",
				data: $("#password-reset-optout").checked,
				cache: false,
				url: "/ajax/MyInfo/toggle_password_opt_out.json"
			});
		});
		
		$(".deletebutton").click(function(event) {
			event.preventDefault();
			$("[name='"+ $(this).val() +"']").val('');
			
			$.ajax({
				type: "POST",
				data: {key: $(this).val()},
				context: this,
				cache: false,
				url: "/ajax/MyInfo/delete_key_value.json"
			});
		});
		
		$("#passwordReset").validate({
			rules: {
				alternate_email: "email",
			},
			errorPlacement: function(label, invalid) {
				label.insertAfter(invalid.next());
			}
		});
	});
	</script>
	
	<script type="text/javascript">
	{% include "MyInfo/password_meter.js" %}
	</script>
{% endblock %}

{% block header %}{% endblock %}

{% block body_content %}
	<div class="containerTop2 grid flex col_12 column">
	<div class="container grid">
	
		<div class="topLeftInfo center col_5">
		{% if newStudent %}
		Hello, Graham!
		{% else %}
		Hello, {{ identity.DISPLAY_NAME }}. <span style="float:right;"><a href="../../accounts/logout/">Logout</a></span>
		{% endif %}
		</div>
		
		<div class="col_1"></div>
		<div class="col_1"></div>
		
		<div class="topRightInfo center col_5">
		<div><span class="infolabel">Odin Username:</span> {{ identity.ODIN_NAME }}</div>
			<div><span class="infolabel">PSU Email:</span> {{ identity.EMAIL_ADDRESS }}</div>
			<div><span class="infolabel">ID Number:</span> {{ identity.ID_NUMBER }}</div>
		</div>
			
	</div>
</div>
		<div class="containerMiddle grid flex col_12 column">
	<div class="middleBody">
			
				<div class="middleTabArea">
				<ul class="tabs center">
					<li class="tab1 current"><a href="#">Change Password</a></li>
					<li class="tab2 disabled"><a href="#">Password Reset</a></li>
					{% if PSUEmployeeForm %}<li class="tab3 disabled"><a href="#">Directory Information</a></li>{% endif %}
				</ul>

					<div id="tabc1" class="tab-content col_12 grid flex">
			<form action="/ajax/MyInfo/update_password.json" method="post" class="ajaxform">
			{% csrf_token %}
			
				<div class="tabContent grid col_5">
					
					
					<div class="passwordReset2">
						<input class="formField" id="id_newPassword" maxlength="32" name="newPassword" placeholder="New Password" type="password">
					</div>
					<div class="passwordReset2">
						<input class="formField" id="id_confirmPassword" maxlength="32" name="confirmPassword" placeholder="Confirm Password" type="password">
					</div>
					
					
					
					{% if not newStudent %}
					<div id="formInfo"><p>Your password expires on: {{ password_expiration }}</p></div>
					{% endif %}
					
					<input id="password-button" type="submit" class="resetSubmit" value="Update Password"/>
					<span class="ajax-message"></span>
				</div>
					<div class="col_7 passwordStrength">
					Passwords must meet the following requirements:
					<ul class="pStrength">
						<li id="lettercount" class="invalid"><p>At least <strong>{{ password_rules.letter_count }}</strong> letters.</p></li>
						<li id="numbercount" class="invalid"><p>At least <strong>{{ password_rules.number_count }}</strong> numbers.</p></li>
						<li id="specialcount" class="invalid"><p>At least <strong>{{ password_rules.special_count }}</strong> special characters.</p></li>
						<li id="totalcount" class="invalid"><p>Between <strong>{{ password_rules.minimum_count }}</strong> and <strong>{{ password_rules.maximum_count }}</strong> total characters.</p></li>
						<li id="password-same" class="invalid"><p>The passwords must match.</p></li>
					</ul>
					<h6>Your password strength is: </h6>
					<div id="passwordbar"><div class="password-ttc"></div></div>
				</div>
			</form>
		</div>
		<div class="ajax-wait-dialog" title="Please wait">
		<p>Please wait, your information is being updated.</p>
		<div id="ajax-progressbar"></div>
	</div>
		
					</div>
					</div>
					
					</div>
					</div>
					</div>
						
				
				</div>
			</div>
	</div>
	</div>
{% endblock %}