{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	{% include "MyInfo/shared_head.html" %}
	<title>PSU - MyInfo</title>
	
	<script src="{% static "MyInfo/js/zxcvbn.js" %}"></script>
	<script src="{% static "MyInfo/js/jquery.validate.js" %}"></script>
	
	<script type="text/javascript">
	$(function() {
		$("#passwordbar").progressbar({value: 0});
		$("#accordion").accordion({heightStyle: "content"});
		$("#password-button").attr("disabled", "disabled");
		
		$("#password-reset-optout").button({ icons: { primary: "ui-icon-alert"}}).click(function() {
			$.ajax({
				type: "POST",
				data: $("#password-reset-optout").checked,
				cache: false,
				url: "/ajax/MyInfo/toggle_password_opt_out.json"
			})
		});
		
		$(".deletebutton").click(function(event) {
			event.preventDefault();
			/* No fancy ajax magics. :< */
			alert($(this).val());
		});
		
		$("#passwordReset").validate({
			rules: {
				alternate_email: "email",
			},
			errorPlacement: function(label, invalid) {
				label.insertAfter(invalid);
			}
		});
	});
	</script>
	
	<script type="text/javascript">
	{% include "MyInfo/password_meter.js" %}
	</script>
</head>

<body>
	<h3 class="header">PSU - MyInfo</h3>
	
	<div id="body-content">
	
	{% if newStudent %}
	<h4>Hello, {{ identity.DISPLAY_NAME }}. </h4>
	{% else %}
	<h4>Hello, {{ identity.DISPLAY_NAME }}. <span style="float:right;"><a href="../accounts/logout/">Logout</a></span></h4>
	{% endif %}
	
	
	<div id="user-information">
		<div><span class="infolabel">Odin Username:</span> {{ identity.ODIN_NAME }}</div>
		<div><span class="infolabel">PSU Email:</span> {{ identity.EMAIL_ADDRESS }}</div>
		<div><span class="infolabel">ID Number:</span> {{ identity.ID_NUMBER }}</div>
	</div>
	
	<ul class="tabs left">
	<li><a href="#passwordtab">Change Password</a></li>
	<li><a href="#contacttab">Optional: Password Reset</a></li>
	<li><a href="#directorytab">Optional: Directory Information</a></li>
	</ul>
	
	<div id="passwordtab" class="tab-content">
		<form id="passwordForm" action="/ajax/MyInfo/update_password.json" method="post" class="ajaxform">
		{% csrf_token %}
		{{ passwordForm.non_field_errors }}
			<div id="passwordArea">
				<fieldset>
				{% for field in passwordForm %}
				<div class="wide-input">
					{{ field.label_tag }} {{ field }}
					{{ field.errors }}
				</div>
				{% endfor %}
				</fieldset>
				
				{% if not newStudent %}
				<div id="formInfo"><p>Your password expires on: {{ password_expiration }}</p></div>
				{% endif %}
				
				<input id="password-button" type="submit" value="Update Password"/>
				<span class="ajax-message"></span>
			</div>
			
			<div id="passwordMeter" style="padding-left: 10px;">
				Passwords must meet the following requirements:
				<ul>
					<li id="lettercount" class="invalid">At least <strong>{{ password_rules.letter_count }}</strong> letters.</li>
					<li id="numbercount" class="invalid">At least <strong>{{ password_rules.number_count }}</strong> numbers.</li>
					<li id="specialcount" class="invalid">At least <strong>{{ password_rules.special_count }}</strong> special characters.</li>
					<li id="totalcount" class="invalid">Between <strong>{{ password_rules.minimum_count }}</strong> and <strong>{{ password_rules.maximum_count }}</strong> total characters.</li>
					<li id="password-same" class="invalid">The passwords must match.</li>
				</ul>
				<h6>Your password strength is: </h6>
				<div id="passwordbar"><div class="password-ttc"></div></div>
			</div>
		</form>
	</div>
	
	<div id="contacttab"  class="tab-content">
		<form id="passwordReset" action="/ajax/MyInfo/update_external_contact.json" method="post" class="ajaxform">
		<fieldset>
		<div class="wide-input">
			{{ contactForm.alternate_email.label_tag }} {{ contactForm.alternate_email }}
			<input type="image" src="/static/MyInfo/images/cancel.png" class="deletebutton" value="{{ contactForm.alternate_email.html_name }}">
		</div>
		{{ contactForm.alternate_email.errors }}
		
		<div class="wide-input">
			{{ contactForm.cell_number.label_tag }} {{ contactForm.cell_number }}
			<input type="image" src="/static/MyInfo/images/cancel.png" class="deletebutton" value="{{ contactForm.cell_number.html_name }}">
		</div>
		{{ contactForm.cell_number.errors }}
		
		<div class="wide-input">
			{{ contactForm.cell_carrier.label_tag }} {{ contactForm.cell_carrier }}
			<input type="image" src="/static/MyInfo/images/cancel.png" class="deletebutton" value="{{ contactForm.cell_carrier.html_name }}">
		</div>
		</fieldset>
		{{ contactForm.cell_carrier.errors }}
		<input type="submit" value="Update" />
		<span class="ajax-message"></span>
		</form>
		<p>If you would like to opt out of the ability to reset your password automatically (for example you do not
		have a non-PSU email or cell phone,) you may select that option here. Please keep in mind that this will make it
		much harder to recover your account in the event that your password expires.</p>
		<label for="password-reset-optout">Opt Out</label><input type="checkbox" id="password-reset-optout" {{ checked }}/>
	</div>
	
	{% if PSUEmployeeForm %}
	<div id="directorytab" class="tab-content">
			<form id="directoryInformation" action="/ajax/MyInfo/update_directory_information.json" method="post" class="ajaxform">
			<fieldset>
			<div class="wide-input">
				{{ PSUEmployeeForm.job_title.label_tag }} {{ PSUEmployeeForm.job_title }}
				{{ PSUEmployeeForm.job_title.errors }}
			</div>
			
			<div class="wide-input">
				{{ PSUEmployeeForm.office_building.label_tag }} {{ PSUEmployeeForm.office_building }}
				{{ PSUEmployeeForm.office_building.errors }}
			</div>
			
			<div class="wide-input">
				{{ PSUEmployeeForm.office_room.label_tag }} {{ PSUEmployeeForm.office_room }}
				{{ PSUEmployeeForm.office_room.errors }}
			</div>
			
			<div class="wide-input">
				{{ PSUEmployeeForm.department.label_tag }} {{ PSUEmployeeForm.department }}
				{{ PSUEmployeeForm.department.errors }}
			</div>
			</fieldset>
			<input type="submit" value="Update" />
			<span class="ajax-message"></span>
			</form>
	</div>
	{% endif %}
	
	</div>
	
	<div class="ajax-wait-dialog" title="Please wait">
		<p>Please wait, your information is being updated.</p>
		<div id="ajax-progressbar"></div>
	</div>
</body>
</html>