{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Policy Acceptance{% endblock %}

{% block head_js %}
{% endblock %}

{% block header %}{% endblock %}

{% block body_content %}
{% include 'fragments/user_info.html' %}

<div class="containerMiddle grid flex col_12 column">
	<div class="middleBody">
		<div class="col_6 column">
			<h5>Policy Acceptance</h5>
				<p>Please read and review the following policies regarding the use of computing resources at PSU:
				</p>
			<ul class="greenBgLinks">
				<li><a href="http://go.pdx.edu/aup" target="_blank">PSU Acceptable Use Policy</a></li>
				<li><a href="http://www.pdx.edu/ogc/sites/www.pdx.edu.ogc/files/Email%20Communication%20Policy%201.29.13%20SIGNED%20FINAL.pdf" target="_blank">PSU Email Communication Policy</a></li>
				<li><a href="http://www.pdx.edu/sites/www.pdx.edu.financial-services/files/BAO_rcap_web_policy.pdf" target="_blank">PSU Revolving Charge Account Plan Policy</a></li>
			</ul>
		
			<form id="aupForm" action="{% url 'AccountPickup:aup' %}" method="post">
				{% csrf_token %}
				{{ form.non_field_errors }}
				
				
					<div>
						{{ form.accepted.label_tag }} {{ form.accepted }}
						{{ form.accepted.errors }}
					</div>
				<input class="Submit" type="submit" value="Continue"/>
			</form>
		</div>
	</div><div class="col_6"> </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
