{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Password Reset Information{% endblock %}

{% block head_js %}
{% endblock %}


{% block body_content %}
{% include 'fragments/user_info.html' %}

<div class="containerMiddle grid flex col_12 column">
	<div class="middleBody grid">
		<div class="col_6 column">
			<div class="homeLeft center">
				<h5 style="text-align:left; padding-left:5px;">Set Your Contact Information</h5>
				<form id="passwordResetForm" action="{% url 'AccountPickup:contact_info' %}" method="post" style="text-align:left">
					{% csrf_token %}
					{{ form.non_field_errors }}

					{% if error %}
					<ul class="errorlist">
						<li class="first last">{{ error }}</li>
					</ul>
					{% endif %}

					{% for field in form %}
					{{ field.errors }}
					{{ field.label_tag }}
					{{ field }}<br>
					{% endfor %}
					<input class="Submit" type="submit" value="Continue" style="margin-top:20px;"/>
				</form>
			</div>	
		</div>


		<div class="col_6">
			<div class="homeRight center">
				<p class="left" style="position:relative;top:10px;">In order to allow us to reset your password, in the event that it is ever forgotten or expired, you must provide either a valid US mobile phone number that is capable of receiving text messages or an alternate (non-PSU) email address to which we can send a password reset code.
				</p>
                <p class="left" style="position:relative;top:10px;">If you cannot enter either of these fields, <a href="http://www.pdx.edu/oit/contact">contact us.</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}