{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Password Reset Information{% endblock %}

{% block head_js %}
{% endblock %}


{% block body_content %}
{% include 'fragments/user_info.html' %}

<div class="containerMiddle grid flex col_12 column">
	<div class="middleBody grid">
		<div class="col_6 column">
			<div class="homeLeft center">
				<h5 style="text-align:left; padding-left:5px;">Change Contact Information</h5>
				<form id="passwordResetForm" action="{% url 'AccountPickup:contact_info' %}" method="post" style="text-align:left">
					{% csrf_token %}
					{{ contact_form.non_field_errors }}

					{{ contact_form.alternate_email.label }}<br>
					<input class="formField" id="{{ contact_form.alternate_email.auto_id }}" name="{{ contact_form.alternate_email.name }}" type="text" style="text-align:left"/><br>
					{{ contact_form.alternate_email.errors }}

					{{ contact_form.cell_phone.label }}<br>
					<input class="formField" id="{{ contact_form.cell_phone.auto_id }}" name="{{ contact_form.cell_phone.name }}" type="text" style="text-align:left"/>
					{{ contact_form.cell_phone.errors }}

					{{ opt_out_form.opt_out.as_hidden }}
					<br>
					<input class="Submit" type="submit" value="Continue" style="margin-top:20px;"/>
				</form>
			</div>	
		</div>


		<div class="col_6">
			<div class="homeRight center">
				<h5 class="left">Log In or Activate Your Account!</h5>
				<p class="left" style="position:relative;top:10px;">In order to allow us to reset your password, in the event that it is ever forgotten or expired, you must provide either a valid US mobile phone number that is capable of receiving text messages or an alternate (non-PSU) email address to which we can send a password reset code.
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}