{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Select Email Alias{% endblock %}

{% block head_js %}
	<script type="text/javascript">
	function tick(el) {
		if (el.checked) {
			$('#email-alias-hide').fadeIn("slow");
		} else {
			$('#email-alias-hide').fadeOut("fast");
		}
	}
	</script>
{% endblock %}

{% block body_content %}
{% include 'fragments/user_info.html' %}

<div class="containerMiddle grid flex col_12 column">
	<div class="middleBody">
		<div class="col_6 left">
			<h5>Choose Your Email Alias</h5>
			<p class="odinTextTop">You may select an email alias. An email alias is an alternative email address that you can use for the same mailbox. Email sent to your alias will be sent to your PSU Gmail inbox. Unlike your Odin username, your email alias can be more than 8 characters and can contain periods.</p>
			<form id="provisionAccount" action="{% url 'AccountPickup:alias' %}" method="post">
				{% csrf_token %}
				<p style="margin-top:15px;">Yes, I would like an email alias: <input type="checkbox" onchange="tick(this)" id="selectalias" class="checkbox2"></p>
				<div id="email-alias-hide" style="display: none;">
					<div class="odinBottom">
						<h6>Select Your Email Alias</h6>
						{{ form.alias }}
					</div>
				</div>

				<input class="Submit" type="submit" value="Continue" style="margin-bottom:30px;">
			</form>
		</div>
	</div>
	<div class="col_6"> </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}

