{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Account Pickup{% endblock %}

{% block head_js %}
	<script src="{% static "lib/js/jquery.validate.js" %}"></script>
	<script src="{% static "lib/js/additional-methods.js" %}"></script>
	
	<script type="text/javascript">
	function tick(el) {
		$('#id_auth_pass').attr('type', el.checked ? 'text' : 'password');
	}
	</script>
{% endblock %}

{% block body_content %}
<div class="containerTop grid">
	<div class="topBody grid center">
		<h6 class="topBodyHeaderBold">Odin Account Manager</h6><h6 class="topBodyHeaderLight"> is the easy-to-use tool for managing your PSU computer account</h6>
	</div>
</div>
<div class="containerMiddle grid flex col_12 column">
	<div class="middleBody grid">
			<div class="col_6">
				<div class="homeLeft center">
					<h5>Activate Your Odin account</h5>
					<form id="login-form" action="{% url 'AccountPickup:index' %}" method="post">
						{% csrf_token %}
						{{ form.non_field_errors }}
						
						{% if error %}
						<div class="ui-state-error">{{ error }}</div>
						{% endif %}
						{% for field in form %}
						{{ field.errors }}
						{{ field.label_tag }}
						{{ field }}<br>
						{% endfor %}
						
						
						<span>
						<label for="showpass" style="display: inline-block;">Show Password:</label>
						<input id="showpass" type="checkbox" onchange="tick(this)"/>
						</span>
						
						
						<br>
						<input type="submit" value="Activate Account">
					</form>
				</div>
			</div>
			<div class="col_6">
				<div class="homeRight center">
					<h5 class="left">Getting Started</h5>
					<p class="left" style="position:relative;top:10px;">Enter your PSU ID number, birth date, and the activation code you received in your admission letter or letter of offer. You will be guided through the process of setting up your accounts and setting your initial password. Please follow instructions carefully.</p><br>
				</div>
			</div>
	</div>
</div>
{% endblock %}
{% block footer %}{% endblock %}