{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
	{% include "MyInfo/shared_head.html" %}
	<title>PSU - Account Pickup</title>

	<script src="{% static "MyInfo/js/jquery.validate.js" %}"></script>
	<script src="{% static "MyInfo/js/additional-methods.js" %}"></script>
	
	<script type="text/javascript">
	$(function() {
		$("#login-form").validate({
			rules: {
				id_number: {
					required: true,
					minlength: 9,
					maxlength: 9,
					number: true
				},
				birth_date: {
					required: true,
					dateUS: true
				},
				auth_pass: "required"
			},
			errorPlacement: function(label, invalid) {
				label.insertAfter(invalid);
			}
		});
	});
	
	function tick(el) {
		$('#id_auth_pass').attr('type', el.checked ? 'text' : 'password');
	}
	</script>
</head>

<body>
	<h3 class="header">Account Pickup - New User</h3>

	<div id="body-content">
	<h4>Welcome to Account Pickup</h4>
	
	<p>Please enter your PSU ID number, birthday, and the password you received in the mail to get started.
	You will be guided through the process of setting up you accounts and setting your initial password.
	Please follow instructions carefully. [[Development note: Use the password 'fail' to force an auth failure.]]</p>
	
	<form id="login-form" action="/AccountPickup/" method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	
	<div class="ui-widget">
	{% if error %}
	<div class="ui-state-error">{{ error }}</div>
	{% endif %}
	<fieldset>
		<div class="wide-input">
			{{ form.id_number.label_tag }} {{ form.id_number }}
			{{ form.id_number.errors }}
		</div>
		
		<div class="wide-input">
			{{ form.birth_date.label_tag }} {{ form.birth_date }}
			{{ form.birth_date.errors }}
		</div>
		
		<div class="wide-input">
			{{ form.auth_pass.label_tag }} {{ form.auth_pass }}
			{{ form.auth_pass.errors }}
		</div>
		
		<div>
			<label for="showpass">Show password</label>
			<input type="checkbox" onchange="tick(this)" id="showpass" style="margin-left: 0px"/>
		</div>
		
		{% if captcha %}
		<div class="captcha">
		{{ captcha.captcha }}
		</div>
		{% endif %}
	</fieldset>
	</div>
	
	<input type="submit" value="Login to Account Pickup" />
	</form>
	</div>
	
</body>
</html>