{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Select Odin Username{% endblock %}

{% block head_js %}
	<script type="text/javascript">
	function tick(el) {
		if (el.checked) {
			$('#email-alias-hide').fadeIn("slow");
		} else {
			$('#email-alias-hide').fadeOut("fast");
		}
	}
	</script>
{% endblock %}

{% block body_content %}
{% include 'fragments/user_info.html' %}

<div class="containerMiddle grid flex col_12 column">
	<div class="middleBody">
		<div class="col_6 left">
			<h5>Choose Your Odin Username</h5>
			<p class="odinTextTop">Select your Odin username here. You will use your username to log into PSU's electronic systems. Your username will remain the same for the duration of your stay at PSU.</p>
			<form id="provisionAccount" action="{% url 'AccountPickup:odin' %}" method="post">
				{% csrf_token %}
				{{ form.name }}
	
				<p style="margin-top:20px;"><strong>Reminder:</strong>  PSU policy requires that you read the email sent to your PSU email address on a regular basis. It is your responsibility to check your inbox for important announcements and notifications.</p>
				<input class="Submit" type="submit" value="Continue" style="margin-bottom:30px;">
			</form>
		</div>
	</div>
	<div class="col_6"> </div>
</div>				
{% endblock %}
{% block footer %}
{% endblock %}

