{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>PSU - Password Reset Information</title>
	<link href="{% static "MyInfo/css/myinfo.css" %}" rel="stylesheet">
	<link href="{% static "MyInfo/css/jquery-ui-1.10.2.custom.css" %}" rel="stylesheet">
	<script src="{% static "MyInfo/js/jquery-1.9.1.js" %}"></script>
	<script src="{% static "MyInfo/js/jquery-ui-1.10.2.custom.js" %}"></script>
	<script src="{% static "MyInfo/js/jquery.validate.js" %}"></script>
	
	<script type="text/javascript">
	$(function() {
		$("input[type=submit]").button();
		$("#passwordResetForm").validate({
			rules: {
				alternate_email: "email",
			},
			errorPlacement: function(label, invalid) {
				label.insertAfter(invalid);
			}
		});
	});
	</script>
</head>

<body>
	<h1>Password Reset Information</h1>
	
	<div id="body-content">
	<p>In order to facilitate a password reset in the event that your password is ever lost or expired you must provide either 
	a valid US cell phone # capable of receiving text messages, or an alternate (non-PSU) email address where we can send a
	password reset code.</p>
	
	<form id="passwordResetForm" action="/AccountPickup/PasswordReset/" method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	
	<div class="ui-widget">
	<fieldset>
		<div class="wide-input">
			{{ form.alternate_email.label_tag }} {{ form.alternate_email }}
			{{ form.alternate_email.errors }}
		</div>
		
		<div class="wide-input">
			{{ form.cell_number.label_tag }} {{ form.cell_number }}
			{{ form.cell_number.errors }}
		</div>
		
		<div class="wide-input">
			{{ form.cell_carrier.label_tag }} {{ form.cell_carrier }}
			{{ form.cell_carrier.errors }}
		</div>
		
		<p>Opting out of providing password reset information will make it significantly harder to reset your password in
		the event that it expires.</p>
		
		<div>
			{{ form.opt_out.label_tag }} {{ form.opt_out }}
			{{ form.opt_out.errors }}
		</div>
	</fieldset>
	</div>
	
	<input type="submit" value="Continue" />
	</form>
	</div>
	
</body>
</html>