{% extends "lib/base.html" %}
{% load staticfiles %}

{% block title %}Password Reset Information{% endblock %}

{% block head_js %}
	<script src="{% static "lib/js/jquery.validate.js" %}"></script>
	
	<script type="text/javascript">
	$(function() {
		$("#passwordResetForm").validate({
			rules: {
				alternate_email: "email",
			},
			errorPlacement: function(label, invalid) {
				label.insertAfter(invalid);
			}
		});
		
		$('.killclick').click(function(ev) {
			ev.preventDefault();
			ev.stopPropagation();
		});
	});
	</script>
{% endblock %}

{% block header %}Password Reset Information{% endblock %}

{% block body_content %}
	<div class="col_12">
		<ul class="tabs left">
			<li><a href="#aup" class="killclick">Acceptable Use</a></li>
			<li><a href="#reset" class="killclick">Password Reset</a></li>
			<li><a href="#odin" class="killclick">Odin Username</a></li>
		</ul>

		<div id="reset" class="tab-content">
			<p>In order to facilitate a password reset in the event that your password is ever lost or expired you must provide either 
			a valid US cell phone # capable of receiving text messages, or an alternate (non-PSU) email address where we can send a
			password reset code.</p>

			<form id="passwordResetForm" action="/AccountPickup/PasswordReset/" method="post">
			{% csrf_token %}
			{{ form.non_field_errors }}

				<fieldset>
					<div class="wide-input">
						{{ form.alternate_email.label_tag }} {{ form.alternate_email }}
						{{ form.alternate_email.errors }}
					</div>

					<div class="wide-input">
						{{ form.cell_number.label_tag }} {{ form.cell_number }}
						{{ form.cell_number.errors }}
					</div>

					<div class="wide-input">
						{{ form.cell_carrier.label_tag }} {{ form.cell_carrier }}
						{{ form.cell_carrier.errors }}
					</div>
					
					{% comment %}
					It has been requested that supernag be made a "little clearer" and that it is odd that people fill out the fields and
					are then provided with the option to opt out.
					
					I have chosen to do this on purpose, and am documenting why here. Basically, to be blunt, we don't want people to opt out.
					People who opt out will have to go to the help desk to reset their password if they ever forget it, and I'm going to assume
					the help desk doesn't want this. My intention is that by putting the option to opt out last, most users will just fill out
					the password reset information and move on.
					
					From a purely user-friendly point of view, putting the opt out option first would probably be best, but the opt-out
					option is designed from the ground up to be a pain point for people who are choosing to make our jobs harder by not
					offering up an alternate email or phone number.
					{% endcomment %}

					<p>Opting out of providing password reset information will make it significantly harder to reset your password in
					the event that it expires.</p>

					<div>
						{{ form.opt_out.label_tag }} {{ form.opt_out }}
						{{ form.opt_out.errors }}
					</div>
				</fieldset>

				<input type="submit" value="Continue" />
			</form>
		</div>
	</div>
{% endblock %}